* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.images_wrapper {
    display: inline-block;
}

.image {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    margin: 0 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.highlight {
    border: 2px solid orange;
}

.onerror {
    height: 40px;
    width: 200%;
}

.error_message {
    margin: 0;
    color: #f00;
}

.error_message:before {
    margin: 5px;
    content: '-';
    color: #f00;
}

.center_wrapper {
    width: 450px;
    margin: 100px auto 0;
}

.form_number_div {
    color: #bbb;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 2px;
}

.active_form {
    color: #000;
}

.visited_form {
    color: #ff9800;
}

.button:hover {
    cursor: pointer;
}

.form__name {
    margin: 16px 0 40px;
}

.button_wrapper {
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;

    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 40px;
    border: none;
    color: #ff9800;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.input_text {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: block;
    margin: 16px 0;
    padding: 10px;
    border: 0;
    border-radius: 2px;
}

.input_error {
    margin: 0;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #f00;
}

.inline {
    display: inline-block;
}

.none {
    display: none;
}

select {
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    border: 0;
    background-color: #fff;
    border-radius: 2px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.country__select {
    margin: 0 0 16px;
}

.checkboxes_inputs_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.input_social {
    height: 30px;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 100%;
}

.input_social_text {
    padding: 10px;
}

.notvisible {
    visibility: hidden;
}

.checkboxes {
    width: 100%;
}

.container {
    text-align: center;
    margin-bottom: 70px;
}

.wrong_image__error_message {
    color: #f00;
    text-align: left;
}

.end__button {
    background-color: #ff9800;
    font-weight: bold;
    color: #fff;

}

.inputs_wrapper {
    margin-bottom: 150px;
}

.result_wrapper__div {
    display: inline-flex;
    padding: 24px;
    background-color: #fff;
    margin: 32px;
}

.result_container__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}

.info_wrapper__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

.result__image {
    height: 195px;
    width: 200px;
}

h2 {

    font-size: 20px;
    margin: 10px 0;
}

.info_wrapper__div p {
    margin: 5px 0;
}

.second_font__par {
    font-size: 15px;
    color: #708090;
}

.restart__button {
    width: 160px;
    height: 40px;
    border: none;
    background-color: #ff9800;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.social_networks__wrapper > * {
    display: inline;
}

.social_network__name {
    color: blue;
}

@media screen and (max-width: 800px) {
    .images_wrapper {
        width: 400px;
    }

    .center_wrapper {
        margin-top: 50px;
    }

    .inputs_wrapper {
        margin-bottom: 50px;
    }

    .container {
        margin-bottom: 0;
    }

    .onerror {
        width: 100%;
    }

    .input_error {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .center_wrapper {
        max-width: 350px;
    }

    .inputes {
        width: 90%;
    }

    .result_wrapper__div {
        display: block;
    }

    .info_wrapper__div {
        margin: 0;
    }

}

@media screen and (max-width: 400px) and (min-width: 200px) {
    .center_wrapper {
        width: 100%;
    }

    .image {
        width: 100px;
        height: 100px;
    }

    .images_wrapper {
        max-width: 300px;
    }

    .button_wrappe {
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .button {
        width: 60%;
        margin: 10px auto;
    }

}



